.headerDrawer {
  height: 60px;
  background: #1da1f2 !important;
  .rowHeaderDrawer {
    width: 100%;
    justify-content: space-between;
    align-items: center;

    figure {
      margin-bottom: 0;
      padding: 15px;

      img {
        width: 70%;
      }
    }
  }
}
