.ant-modal-content {
  border-radius: 8px;
}

.ant-modal-content .ant-modal-body {
  padding: 15px;
}

.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  color: #007bff !important;
}

.ant-input {
  color: white !important;
}
.ant-modal-confirm-title {
  display: flex !important;
  margin-bottom: 15px;
}

/* .slick-track {
  width: 200px !important;
} */

.ant-collapse-header-text {
  width: 100%;
}
