.layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: auto;
  min-height: 0;
  max-width: 1920px;
  background-color: transparent !important;
  .content {
    min-height: 50vh;
    background-color: ghostwhite;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  display: none;
}
