@import '@assets/styles/variable.less';

.layout {
  display: flex;
  flex: auto;
  flex-direction: column;

  margin: auto;

  min-height: 0;
  max-width: 1920px;
  // background: #f0f2f5;
  background-color: transparent !important;
  .content {
    min-height: 50vh;
    background: #fafafa;
  }
}
