@import '/public/assets/styles/variable.less';

.layout {
  background-color: transparent !important;
  margin: auto;
  display: flex;
  align-items: center;
  .content {
    background-color: black;
    // margin-top: 6rem;
    width: 1920px;
    .siteLayout {
      background-color: yellow;
    }
  }
}
