.pageLoading {
  height: 100%;
  width: 100vw;
  display: flex;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fafafa;
  opacity: 0.98;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 5;
  .content {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: #00000087;
  }
}

.componentLoading {
  display: flex;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  text-align: center;
  .content {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: #00000087;
  }
}

.top {
  justify-content: flex-start !important;
}
