.DeloyHospitalCustom {
  margin-bottom: 60px !important;
  .rowTitle {
    .title {
      text-align: center;
      padding: 0 15px;
      text-transform: uppercase;
      font-weight: 600;
    }
    margin-bottom: 2rem;
  }
  .rowSlider {
    .Slider {
      .card {
        .view {
          display: flex;
          justify-content: center;
          text-align: center;
          padding: 7.5px;
        }
        .cardBody {
          font-size: 0.813rem;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          text-justify: inter-word;
          overflow: hidden;
          text-overflow: ellipsis;
          display: --webkit-box;
          --webkit-line-clamp: 2;
          --webkit-box-orient: vertical;
        }
      }
    }
  }
}
