.menuDropdown {
  min-width: 250px;
  .item {
    &:first-child {
      text-align: center;
      border-bottom: 1px solid #c7d4e7;
      line-height: 60px;
      height: 60px;
    }
    &:last-child {
      font-style: italic;
      color: #ddd;
      font-size: 12px;
    }
  }
}
