{
  "presets": ["next/babel"],
  "plugins": [
    // "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@config": "./src/config",
          "@components": "./src/components",
          "@componentStore": "./store/componentStore",
          "@utils": "./src/utils",
          "@store": "./store",
          "@templates": "./templates",
          "@assets": "./assets",
          "@public": "./public"
        }
      }
    ]
  ]
}
