@medpro:registry=https://gitlab.com/api/v4/projects/26696867/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=iYj734MTcfS9yx7zXA28
//gitlab.com/api/v4/projects/26696867/packages/npm/:_authToken=iYj734MTcfS9yx7zXA28

# @n17dccn172:registry=https://gitlab.com/api/v4/projects/28265676/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=F5wtZ_3xZmFjVFjz2YLf
# //gitlab.com/api/v4/projects/28265676/packages/npm/:_authToken=F5wtZ_3xZmFjVFjz2YLf
