.solutionBox {
  width: 100%;
  margin-bottom: 60px !important;
  background-color: #f7f9fc;
  .wapperIntro {
    background-size: cover;
    background: url(https://medpro.com.vn/static/media/bg_new.9578e7c5.jpg)
      no-repeat top;
    padding: 3.75rem 0 100px 0;
    @media (min-width: 769px) and (max-width: 1024px) {
      min-width: 0;
    }
    .Para {
      .boxPara {
        .intro {
          span {
            color: #74cece;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
          }
          h3 {
            color: aliceblue;
            font-size: 30px;
            font-weight: 600;
            line-height: 37px;
          }
        }
        .Paragraph {
          color: white;
          font-size: 14px;
          text-align: justify;
          padding-left: 30px;
          @media only screen and (max-width: 425px) {
            padding-left: 0px;
          }
        }
      }
    }
  }
  .containerGroudCard {
    margin-bottom: 30px;
    @media only screen and (max-width: 425px) {
      .groudCard {
        flex-direction: column;
        li {
          width: 100% !important;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      .groudCard {
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
    }
    @media only screen and (max-width: 1024px) {
      .groudCard {
        li {
          width: unset;
          .card {
            .view {
              img {
                width: 310px !important;
              }
            }
          }
        }
      }
    }
    .groudCard {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      margin-top: -90px;
      li {
        text-align: center;
        padding: 15px;
        .card {
          .view {
            img {
              width: 340px;
              border-radius: 5px;
            }
          }
          .cardBody {
            margin: -45px 8% 0;
            background: #fff;
            padding: 15px;
            position: relative;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
            .title {
              text-align: center;
              font-size: 15px;
              font-weight: 600;
              color: #12263f;
            }
            .subTitle {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 13px;
    color: #536275;
    @media (max-width: 380px) {
      font-size: 0.75rem;
    }
    .dot {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
      color: #12263f;
      &:hover {
        color: #4e85db;
      }
    }
  }
}
