.containerLoading {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fafafa;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  .content {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: #00000087;
  }
}
