.containerLoading {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  .rowLoading {
    .colLoading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
