@color0: #3978d7;
@color1: #ffffff;
@color2: #011b92;

@width1: 100%;
@width2: 80%;
@height6: 50%;

.solutionBox {
  margin-bottom: 5%;
  background-color: #f7f9fc;
  .con_Para {
    min-width: 1920px;
    background-size: cover;
    background: url(https://medpro.com.vn/static/media/bg_new.9578e7c5.jpg)
      no-repeat top;
    padding: 3.75rem 0 100px 0;
    @media (min-width: 769px) and (max-width: 1024px) {
      min-width: 0;
    }
    .Para {
      .boxPara {
        height: @height6;
        .intro {
          span {
            color: #74cece;
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
          }
          h3 {
            color: aliceblue;
            font-size: 2.1rem;
            font-weight: 500;
            line-height: 37px;
          }
        }
        .Paragraph {
          color: @color1;
          font-size: 1.0625rem;
          text-align: justify;
        }
      }
    }
  }
  .card {
    margin-top: -65px;
    .boxCard {
      display: flex;

      .footerCard {
        width: 90%;
        flex-direction: column;
        display: flex;
        align-items: center;
        img {
          border-radius: 10px;
          height: 90%;
          width: 90%;
        }
        .footerCard_Text {
          width: @width2;
          background-color: @color1;
          box-shadow: 5px 5px 8px lightgray;
          margin-top: -50px;
          padding: 5%;

          transform: translateY(0);
          transition: 1s;

          .title {
            text-align: center;
            span {
              color: #12263f;
              font-size: 1.1rem;
              font-weight: 500;
              text-transform: uppercase;
            }
            p {
              font-size: 15px;
              color: black;
            }
          }
          &:hover {
            box-shadow: 5px 5px 8px whitesmoke;
            transform: translateY(-10px);
            transition: 1s;
            span {
              color: @color0;
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 40px 0 60px 0;
    text-align: center;
    font-size: 1rem;
    color: #536275;
    @media (max-width: 380px) {
      font-size: 0.75rem;
    }
    a {
      border-bottom: 1px dashed #12263f;
      padding: 0 1px 5px 0;
      color: #536275;
      &:hover {
        color: #4e85db;
      }
    }
  }
}
@media (max-width: 768px) {
  .solutionBox {
    .con_Para {
      min-width: 0;
      background-color: @color2 !important;
      .boxPara {
        padding: 10px 10px 0 10px !important;
        .intro {
          min-width: @width1 !important;
        }
        .Paragraph {
          min-width: @width1 !important;
        }
      }
    }
    .card {
      .boxCard {
        flex-direction: column !important;
        align-items: center;
      }
      .footerCard {
        margin-bottom: 30px !important;
        min-width: 100%;
        @media (min-width: 600px) and (max-width: 768px) {
          min-width: 70%;
        }
        img {
          min-width: 100% !important;
          border-radius: 5px !important;
        }
        .footerCard_Text {
          .title {
            span {
              font-size: 15px !important;
              @media (min-width: 600px) and (max-width: 768px) {
                font-size: 18px !important;
              }
            }
            p {
              font-size: 14px !important;
              @media (min-width: 600px) and (max-width: 768px) {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }
}
