@color0: #3978d7;
@color1: #ffffff;
@color2: #011b92;

@width1: 100%;
@width2: 80%;
@height6: 50%;

.solutionBox {
  margin-bottom: 5%;
  background-color: #f7f9fc;
  .con_Para {
    min-width: 1920px;
    background-size: cover;
    background: url(https://medpro.com.vn/static/media/bg_new.9578e7c5.jpg)
      no-repeat top;
    padding: 3.75rem 0 100px 0;
    .Para {
      .intro {
        height: @height6;
        width: @width1;
        span {
          color: #74cece;
          font-size: 0.75rem;
          font-weight: 700;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        h3 {
          color: aliceblue;
          font-size: 2.1rem;
          font-weight: 500;
          line-height: 37px;
        }
      }
      .Paragraph {
        color: @color1;
        font-size: 1.0625rem;
        height: @height6;
        text-align: justify;
      }
    }
  }
  .card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -65px;

    width: @width1;
    .boxCard {
      display: flex;
      height: auto;
      width: @width1;
      .footerCard {
        display: block;
        position: relative;
        width: 50%;
        img {
          border-radius: 10px;
          height: 207px;
          width: 90%;
        }
        .footerCard_Text {
          background-color: @color1;
          box-shadow: 5px 5px 8px lightgray;
          cursor: pointer;
          margin-left: 5%;
          margin-top: -50px;
          text-align: center;
          transform: translateY(0);
          transition: 1s;
          width: @width2;
          .title {
            padding: 10px;
            span {
              color: #12263f;
              font-size: 1.1rem;
              font-weight: 500;
              text-transform: uppercase;
            }
            p {
              font-size: 15px;
              color: black;
            }
          }
          &:hover {
            box-shadow: 5px 5px 8px whitesmoke;
            transform: translateY(-10px);
            transition: 1s;
            span {
              color: @color0;
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 40px 0 60px 0;
    text-align: center;
    font-size: 1rem;
    color: #536275;
    a {
      border-bottom: 1px dashed #12263f;
      padding: 0 1px 5px 0;
      color: #536275;
      &:hover {
        color: #4e85db;
      }
    }
  }
}
@media (max-width: 599px) {
  .solutionBox {
    height: auto !important;
    position: unset !important;
    .con_Para {
      min-width: 0;
      height: 100% !important;
      background-color: @color2 !important;
      .null {
        display: none !important;
      }
      .intro {
        min-width: @width1 !important;
        padding: 10px 10px 0 10px !important;
      }
      .Paragraph {
        min-width: @width1 !important;
        padding: 10px !important;
        text-align: justify !important;
      }
    }
    .card {
      position: relative !important;
      height: auto !important;
      .boxCard {
        width: @width1 !important;
        flex-direction: column !important;
        align-items: center !important;
      }
      .footerCard {
        width: @width1 !important;
        margin-bottom: 30px !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 0 20px 0 20px !important;
        img {
          width: @width1 !important;
          height: auto !important;
          border-radius: 5px !important;
        }
        .footerCard_Text {
          position: unset !important;
          top: 0 !important;
          height: auto !important;
          width: 80% !important;
          margin: -50px 10% 0 10% !important;
          .title {
            span {
              font-size: 14px !important;
            }
            p {
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .solutionBox {
    .con_Para {
      min-width: 0;
    }
    .card {
      width: @width1 !important;
      height: auto !important;
      position: relative !important;
      top: 50px !important;

      .boxCard {
        width: 95% !important;
        flex-wrap: wrap !important;
        justify-content: space-around !important;
        .footerCard {
          width: 250px !important;
          flex-direction: column !important;
          margin-top: 20px !important;
          img {
            width: @width1 !important;
            height: auto !important;
          }
          .footerCard_Text {
            position: unset !important;
            height: auto !important;
            width: @width2 !important;
            margin: 0 10% 0 10% !important;
            margin-top: -50px !important;
            padding: 5px !important;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .solutionBox {
    .con_Para {
      max-width: 1850px;
      min-width: 1530px;
    }
  }
}
