// Color variables (appears count calculates by raw css)
@color0: #ffffff;
@color1: #f8fafd;
@color2: #1da1f2;
@width2: 100%;
@height3: 45px;
@media (max-width: 600px) {
  .content {
    width: @width2 !important;
    margin: 50% 0 5% 0 !important;
    background-color: @color1 !important;
    p {
      height: @height3 !important;
      font-size: 20px !important;
    }
    .boxService {
      height: @height3 !important;
      background-color: @color2 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      span {
        font-size: 15px !important;
        color: @color0 !important;
      }
      img {
        display: none;
      }
      & :hover {
        color: @color0;
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .content {
    width: @width2 !important;
    margin: 50% 0 0 0 !important;
    background-color: @color1 !important;

    p {
      height: @height3 !important;
      font-size: 25px !important;
    }
    .boxService {
      height: @height3 !important;
      background-color: @color2 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;

      border-radius: 5px !important;
      margin: 20px !important;
      span {
        font-size: 20px !important;
        color: @color0 !important;
      }
      img {
        display: none !important;
      }
      & :hover {
        color: @color0 !important;
      }
    }
  }
}
.container {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  min-width: 1920px;
  height: 720px;
  @media (max-width: 599px) {
    min-width: 100% !important;
  }
  @media (max-width: 1023px) {
    min-width: 100% !important;
  }
  @media (max-width: 1919px) {
    min-width: 100% !important;
  }
}

.content {
  background-color: @color1;
  box-shadow: 5px 5px 8px lightgray;
  float: right;
  margin: 40px 120px 10% 0;
  padding: 0 20px 20px 20px;
  width: 25%;
  @media (max-width: 599px) {
    width: @width2 !important;
    margin: 50% 0 5% 0 !important;
    background-color: @color1 !important;
  }
  p {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 350;
    height: 90px;
    justify-content: center;
    text-transform: uppercase;
  }
  .boxService {
    margin-bottom: 25px;
    padding-left: 23px;
    img {
      height: 55px;
      width: 55px;
    }
    span {
      color: black;
      display: block;
      font-weight: 500;
      max-width: 106px;
      text-align: center;
    }
    &:hover {
      color: #0352cc;
    }
  }
}
