.footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.813rem;
  color: #536275;
  .dot {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    color: #12263f;
    &:hover {
      color: #4e85db;
    }
  }
}
