.tblProfile{
  margin-bottom: 50px;
  border: 1px solid #0453CC;
  tr{
    color: #7d8ea5;
    th {
      background-color: #0453CC;
      color: aliceblue;
    }
    a{
      color: #FD397A;
    }
  }
  

}
.cardBody{
  list-style: none;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #0453CC;
  li{
    width: 50%;
    display: flex;
    align-items: flex-start;
    .cardItem{
      display: flex;
      font-size: 13px;
      font-weight: 400;
      color: #7d8ea5;
      .itemKey{
        display: flex;
        align-items: flex-start;
        p{
          padding-left: 5px;
        }
      }
    }
    &:first-child {
      .itemValues {
        font-size: 14px;
        font-weight: 600;
        color: #3699FF;
        text-transform: uppercase;
      }
    }
  }  
}