.tblProfile{
  margin-bottom: 50px;
  border: 1px solid #0453CC;
  thead{
    th {
      background-color: #0453CC;
      color: aliceblue;
    }
  }
  tbody{
    color: #7d8ea5;
  }
  a{
    color: #FD397A;
  }
  @media (max-width:768px){
    thead{
      float:left;
      width: 50%;
      th{
        background-color: transparent;
        height: 70px;
        display: block;
        font-size: 13px;
        color: #7d8ea5;
      }
      
    }
    tbody{
      float:right;
      width: 50%;
      td{
        height: 70px;
        display: block;
        font-size: 13px;
      }
    }
  }
}
.cardBody{
  list-style: none;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #0453CC;
  li{
    width: 50%;
    display: flex;
    align-items: flex-start;
    @media (max-width: 768px){
      width: 100%;
    }
    .cardItem{
      display: flex;
      font-size: 13px;
      font-weight: 400;
      color: #7d8ea5;
      .itemKeys{
        min-width: 150px;
      }
    }
    &:first-child {
      .itemValues {
        font-size: 14px;
        font-weight: 600;
        color: #3699FF;
        text-transform: uppercase;
      }
    }
  }  
}