// css mixin
.ListCustom {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}
// css footer
.footer {
  padding: 0 !important;
  width: 100%;
  .viewFooter {
    background-color: #f8fafd;
    padding: 2rem 0;
    border-top: 1px solid #dfe3eb;
    .colFooter {
      justify-content: center;
      .viewCol {
        margin:5px 0 10px;
        padding: 0 15px;
        width: 100%;
        .logoFooter {
          img {
            max-width: 160px;
          }
        }

        .listInfoContact {
          .ListCustom();
          .nameHospital {
            font-size: 16px;
            font-weight: bolder;
            color: #0352cc;
          }
        }

        .listLinkSupport {
          .ListCustom();
        }
        .rowImg{
          display: flex;
          flex-direction:row;
          min-width: 240px;
          justify-content: center;
        }
        .img {
          width: 108px;
          height: 40px;
          margin: 5px;
        }
      }
    }
  }
  .copyRight {
    background-image: linear-gradient(to right, #687ad0, #04a3bd);
    .textCopyRight {
      color: white;
      margin: 10px;
      text-align: center;
    }
  }
}
.hidden {
  display: none;
}
// css reponsive footer
@media only screen and (max-width: 768px) {
  .footer {
    padding-bottom: 70px !important;
    .viewFooter {
      .colFooter {
        .viewCol {
          text-align: center;
          .listLogoChecked {
            max-width: 400px;
            margin: 0 auto;
            li {
              a {
                img {
                  width: 138px;
                  height: 52px;
                }
              }
            }
          }
          .listInfoContact {
            text-align: center;
          }
        }
        .linkSupport {
          display: none;
        }
        .infoHospital{
          text-align: center;
        }
      }
    }
    .copyRight {
      display: none;
    }
  }
}