.listCustom {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.footer {
  .btn {
    background-color: #16428b;
    span {
      width: 50px;
      height: 50px;
      fill: red;
    }
  }

  padding: 15px 0;
  background-color: white;
  p {
    color: #002e64;
  }
  .container {
    @media only screen and (max-width: 1024px) {
      text-align: center;
    }
    // box-shadow: 1px 1px 5px 3px #f5f5f5;
    border-radius: 8px;

    .rowCopy {
      justify-content: center;
      .colCopy {
        padding: 0 15px;
        color: #002e64;
        text-align: center;
        font-weight: 400;
      }
    }
    .rowLogo {
      .colLogo {
        margin-bottom: 15px;
        text-align: center;
        font-size: 24px;
        color: #00b5f1;
        font-weight: 500;
        .glogo {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          span {
            padding-left: 15px;
            &:first-child {
              padding: 0;
            }
          }
        }
      }
    }
    .rowMenu {
      .colMenu {
        padding: 0 15px;
        padding: 15px 0;
        margin-top: 15px;
        display: flex;
        justify-self: center;
        justify-content: center;
        align-items: center;
        .menu {
          .listCustom();
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          align-content: center;
          li {
            padding: 0 25px;
            font-weight: 500;
            font-size: 13px;
          }
        }
      }
    }
    .rowBody {
      margin-bottom: 15px;
      justify-content: center;
      align-content: center;
      align-items: center;
      .colContact {
        padding: 0 7.5px;
        .listContact {
          .listCustom();
          display: grid;
          align-content: center;
          align-items: center;

          text-align: left;
          @media (max-width: 1024px) {
            grid-template-columns: 2fr 2fr;
          }
          @media (max-width: 425px) {
            text-align: center;
            grid-template-columns: 1fr;
          }

          justify-items: stretch;

          li {
            p {
              font-size: 13px;
            }
          }
        }
      }
      .colDown {
        padding: 0 7.5px;
        .title {
          text-transform: uppercase;
          font-weight: 600;
        }
        .QRcode {
          width: 170px;
          height: 170px;
        }
        .listApp {
          .listCustom();
        }
      }
      .colCertifi {
        padding: 0 7.5px;
        .listCer {
          .listCustom();
        }
        .listImg {
          .listCustom();
          display: flex;
          flex-direction: column;

          @media (max-width: 1024px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-content: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .footer {
    .container {
      .rowMenu {
        border-bottom: 0.5px dashed slategrey;
        .colMenu {
          padding: 0;
          margin: 15px 0;
          .menu {
            li {
              padding: 7.5px 25px;
            }
          }
        }
      }
      .rowLogo {
        border-bottom: 0.5px dashed slategrey;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        .colLogo {
          margin-top: 15px;
        }
      }

      .rowBody {
        border-bottom: 0.5px dashed slategrey;
        .colContact,
        .colDown {
          margin: 15px 0;

          padding: 0;
        }
      }
    }
  }
}
