.align_text(@number) {
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: @number;
  -webkit-box-orient: vertical;
}

.size_text(@size , @weight, @color) {
  font-size: @size;
  color: @color;
  font-weight: @weight;
}

.size(@width, @hieght) {
  width: @width;
  height: @hieght;
}
.viewMobile {
  padding: 0 !important;
  min-width: 100% !important;
  .col {
    display: flex !important;
    .img {
      max-width: 50% !important;
      img {
        .size(162px, 98px) !important;
        @media (max-width: 424px) {
          .size(136px, 82px) !important;
        }
      }
    }
    .con_content {
      padding-left: 16px !important;
      .title {
        .align_text(4) !important;
        a {
          .size_text(0.775rem, 400, #24292e) !important;
          line-height: 1, 1 !important;
        }
        & :hover {
          color: #0056b3 !important;
        }
      }
      .content {
        display: none;
      }
      .author {
        display: none;
      }
    }
  }
}

.container {
  .title_event {
    p {
      text-transform: uppercase;
      margin-bottom: 2.5rem;
      text-align: center;
      .size_text(1.625rem,0,#12263f);
    }
  }
  .con_Row {
    .margin_col_big {
      padding-right: 30px;
      .img {
        img {
          .size(435px, 270px);
        }
      }
      .content {
        font-size: 0.875rem;
        .align_text(8);
      }
    }
    .margin_col_small {
      padding-right: 30px;
      .img {
        img {
          .size(300px, 180px);
        }
      }
    }
    .title {
      .align_text(2);
      background-color: red;
      a {
        .size_text(0.875rem,700, #24292e);
        text-transform: uppercase;
      }
      & :hover {
        color: #0056b3;
      }
    }
    .time {
      .size_text(0.75rem, 0, #777);
    }
    .author {
      .size_text(0.815rem, 600, #777);
    }
  }
  .div_btn {
    justify-content: center;
    text-align: center;
    margin: 76px 0 100px 0;
    a {
      color: #24292e;
      box-shadow: 2px 2px 2px #d8d8d8;
      border: 2px solid #1da1f2;
      padding: 15px 30px 15px 30px;
      transition: 1s;
      &:hover {
        box-shadow: 10px 10px 8px #d8d8d8;
        transition: 1s;
        color: #24292e;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    background-color: burlywood;
    .con_Row {
      display: block;
      .margin_col_big {
        .viewMobile();
      }
      .margin_col_small {
        .viewMobile();
      }
    }
  }
}
