.Bill {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  p {
    margin: 0;
  }
  span {
    color: #0352cc;
    font-weight: bolder;
    margin-left: 20px;
    min-width: 120px;
    text-align: right;
  }
}
.hidden {
  display: none;
}
.rowPayments {
  background-color: white;
  height: fit-content;
  .colPayments {
    padding: 7.5px;
    h3 {
      margin: 0;
    }
    .cardView {
      padding: 20px;
      height: 100%;
    }
  }
  .colBill {
    padding: 7.5px;
    h3 {
      color: #0352cc;
      margin: 0;
    }
    .cardView {
      padding: 20px;
      height: 100%;
      .listBill {
        list-style: none;
        padding: 0;
        .itemService,
        .itemMoney {
          display: flex;
          border-bottom: 1px dashed #0352cc;
          .itemKeys {
            margin: 0;
            padding: 10px 0;
          }
          .itemValues {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 10px 0;
          }
        }
        .itemMoney {
          border-bottom: none;
          .itemValues {
            font-weight: 700;
          }
        }
      }
      .listPayment {
        list-style: none;
        padding: 0;
        li {
          display: flex;
          justify-content: flex-end;
          font-size: 0.813rem;
          .itemSum,
          .itemFee,
          .itemTotal {
            .Bill();
          }
          .br {
            border-top: 1px dashed #0352cc;
            width: 100%;
          }
          .itemTotal {
            padding-top: 10px;
            p {
              font-size: 0.875rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
