.rowTypeBooking{
  .colTitle{
    text-align: center;
    margin-top: 50px;
  }
  .colTypeBooking{
    .listTypeBooking{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      li{
        width: 30%;
        padding: 15px;
        @media (max-width: 425px){
          width: 100%;
        }
        @media (min-width: 426px) and (max-width: 768px){
          width: 50%;
        }
        .typeBooking{
          display: flex;
          border: 2px solid #D8D8D8;
          border-radius: 5px;
          padding: 15px;
          &:hover{
            border-color: #0453CC;
            cursor: pointer;
          }
          .Icon{
            width: 40px;
            height: 40px;
          }
          p{
            font-size: 14px;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
  }
}
.btn{
  border-top: 2px solid #D8D8D8;
  padding: 20px 0;
  margin: 0 15px;
  &:hover{
    cursor: pointer;
    font-weight: 600;
  }
}