.ListMenuHeader {
  margin: 7.5px 10px;
  width: 100%;
  border-top: 1px solid #dfe3eb;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;

  li {
    text-align: center;
    position: relative;

    &:before {
      border-color: #0352cc !important;
      content: '';
      height: 0;
      position: absolute;
      width: 0;
      right: 0;
      top: -2px;
      border-bottom: 3px solid;
      transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    }
    &:hover {
      &:before {
        width: 100%;
        left: 0;
      }
      a {
        color: #0352cc;
      }
    }
    a {
      font-size: 13px;
      font-weight: 600;
      display: block;
      padding: 0.8rem;
      white-space: nowrsap;
    }
  }
  li.active {
    a {
      color: #0352cc;
    }
    &:before {
      width: 100%;
      left: 0;
    }
  }
}
