// css mixin
.ListCustom {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.listLogoChecked {
  .ListCustom();
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  li {
    float: left;
    width: 50%;
    padding: 7.5px;

    img {
      width: 100%;
    }
  }
}
