.background {
  background-size: cover;
  background-image: linear-gradient(to right, #687ad0, #04a3bd);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.viewBanner {
  @media only screen and (max-width: 768px) {
    display: none !important;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .background();
  margin-top: 130px;
  height: 200px;
  .title {
    color: white;
    text-decoration: underline;
    text-decoration-color: #55dd77;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
  }
  .subTitle {
    color: white;
    text-align: center;
    text-transform: none;
    font-weight: 500;
    font-size: 1rem;
  }
}
