.dropdownNotification {
  background: #f3f3f3;
  width: 380px;
  top: 0 !important;
  border: 1px solid #dfe3eb;
  transform: translate3d(-20%, 10px, 0) !important;
  font-size: 12px;

  .header_dropdown {
    padding: 10px 15px;
    font-weight: 500;
    color: #0352cc;
  }

  ul {
    li {
      border-bottom: 1px solid #dfe3eb;
      padding: 10px 15px !important;
      margin: 0 !important;
      font-size: 0.875rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      height: unset !important;
      line-height: 22px !important;

      &:hover {
        background: #e6f7ff;
        transition: all 0.3s ease-in-out;
      }

      p {
        font-weight: 400;
        margin: 0 0 5px 0 !important;
        white-space: normal !important;
        width: 100%;
      }

      &:last-child {
        text-align: center;
        border-bottom: none;
      }

      a {
        font-weight: 500;
        color: #0352cc;
      }
    }

    .ant-menu-item-selected {
      background-color: white !important;
      /*Overriden property*/
    }

    .notification {
      color: #307be7 !important;
    }
  }
  .btnNotifi {
    color: #000;
  }
  .btnNotifi:hover {
    color: #307be7;
  }
}
