.GioiThieuContent {
  position: relative;
  background: #fff;
  margin: -50px auto 120px;
  border-radius: 5px;
  min-height: 300px;
  padding: 30px;
  max-width: 1140px;
  border: 1px solid #ddd;
  font-size: 15px;
}
