.BannerHome {
  margin-bottom: 60px !important;
  width: 100%;
  overflow: hidden;
  position: relative;
  .backgroundImage {
    padding-bottom: 38%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 110px;
    background-attachment: fixed;
  }
  .contentBannerHome {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    .boxService {
      align-content: flex-start;
      width: 100%;
      min-height: 400px;
      margin-top: -100px;
      padding: 0 15px;
      color: #12263f;
      background-color: hsla(0, 0%, 100%, 0.9);
      box-shadow: 0 8px 8px 0 #6797ff1c, 0 12px 18px 0 #6797ff1c;
      border-radius: 10px;
      .ColTitle {
        h1 {
          text-align: center;
          margin: 30px 0;
          font-size: 20px;
          font-weight: 600;
          color: #12263f;
        }
      }
      .listBoxService {
        list-style-type: none;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(4, 1fr);
        @media only screen and (max-width: 769px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (max-width: 426px) {
          grid-template-columns: repeat(2, 1fr);
        }
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
        li {
          &:hover {
            color: cornflowerblue;
            box-shadow: 0 5px 35px #3699ff33;
            cursor: pointer;
          }
          box-shadow: 0px 8px 15px #3f51b51f;
          margin: 5%;
          border-radius: 8px;

          text-align: center;
          justify-content: center;
          padding: 15px;

          .card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            figure {
              img {
                max-width: 45px;
                max-height: 45px;
              }
            }
            p {
              font-weight: 500;
              padding: 0px 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .BannerHome {
    .contentBannerHome {
      position: unset;
      .boxService {
        margin: 2.5rem 0;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .BannerHome {
    .contentBannerHome {
      position: unset;
      .boxService {
        margin: 2.5rem 0;
        width: 100%;
      }
    }
  }
}
