.copyRight {
  background-image: linear-gradient(to right, #687ad0, #04a3bd);
  .textCopyRight {
    color: white;
    margin: 10px;
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
