@media screen and (max-width: 1208px){
  .formContent {
    padding-left: 60px !important;
  }
}
.viewContent {
	display: flex;
	flex: 1;
	justify-content: center;
	.formContent {
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		padding: 30px;
    margin:0 20px 120px 20px;
		border-radius: 10px;
		border: 2px solid #dddddd;
		background-color: #fff;
		.viewItemContent {
			text-align: left;
			p, li {
				font-size: 16px;
			}
		}
	}
}
