.container{
  .Search{
    max-height: 40px;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    input {
      width: 100%;
      font-size: 13px;
      padding-left: 7px;
    }
  }
  .SpaceDrop{
    margin: 15px 5px;
    .Dropdown{
      padding: 10px 15px;
      background-color: #1DA1F2;
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      font-weight: 600;
      border-radius: 5px;
      box-shadow: 2px 2px 2px #D8D8D8;
      &:hover{
        box-shadow: 5px 5px 5px #CACACA;
      }
    }
  }
}