.container{
  .Search{
    max-height: 40px;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    input {
      width: 100%;
      font-size: 13px;
      padding-left: 7px;
    }
  }
  .SpaceDrop{
    margin: 15px 5px;
    .DropDegree{
      padding: 10px 15px;
      background-color: #1DA1F2;
      color: white;
      a{
        font-size: 14px;
      }
    }
  }
  
}