@import '@assets/styles/variable.less';

.layout {
  max-width: 1920px;
  align-items: center;
  background-color: transparent !important;
  margin: auto;
  .content {
    background-color: ghostwhite;
    min-height: 50vh;
  }
}
