@import '@assets/styles/variable.less';

.layout {
  max-width: 1920px;
  align-items: center;
  // background-color: transparent !important;
  background: #e5e5e5;
  margin: auto;
  .main {
    min-height: 70vh;
    // margin-top: 130px;
    width: 100%;
    // display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    @media only screen and (max-width: 768px) {
      margin-top: 60px;
    }
  }
}
