.container {
  .rowInfo {
    margin: 30px 0;
    h3 {
      font-weight: 600;
    }
    h4 {
      font-weight: 500;
    }
    .colInfo {
      padding-right: 24px;
      .ProfileBooking {
        .cardView();
        margin-bottom: 12px;
        .listViewProfile {
          list-style: none;
          display: flex;
          padding: 0;
          li {
            padding-right: 32px;
            .viewProfile {
              display: flex;
              flex-direction: column;
              align-items: center;
              .btnProfile {
                min-width: 66px;
                max-width: 66px;
                min-height: 66px;
                max-height: 66px;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 12px;
                padding: 0;
                margin: 0;

                &:hover {
                  border: 2px solid #ffb340;
                }
              }
              .btnProfileActive {
                border: 2px solid #ffb340;
                .btnProfile();
              }
              p {
                .text(11px, 600);
                text-align: center;
                padding-top: 12px;
              }
            }
          }
        }
        .cardIncomplete {
          .listCarditem(#FFFAF2, #FFB340);
          .button {
            display: none;
          }
          .firstItem();
        }
        .cardComplete {
          .listCarditem(#F2FCFF,#00b5f1);
          display: flex;
          .firstItem();
        }
      }
      .InfoBooking {
        .cardView();
        .cardInfo {
          position: relative;
          .listCarditem(#F2FCFF,#00b5f1);
          display: flex;
          .listItem {
            width: 100%;
            margin-bottom: 0;
            /* border: 1px #00b5f1 solid; */
          }
        }
        .btnClose {
          position: absolute;
          right: 0;
          padding: 5px 10px 0 0;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
/// component chung
.listCarditem(@color, @colorBackground) {
  background-color: @colorBackground;
  border-radius: 8px;
  .listItem {
    list-style: none;
    padding: 16px 0 16px 16px;
    margin-left: 8px;
    width: 100%;
    margin-bottom: 0;
    background-color: @color;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid @colorBackground;
    .cardItem {
      p {
        .title {
          .text(14px, 400);
          color: #7b8794;
        }
        .value {
          .text(14px, 500);
          padding-left: 8px;
        }
      }
    }
  }
  .button {
    background-color: @color;
    padding: 8px 8px 0 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}

.cardView {
  padding: 16px 24px;
  background-color: white;
  border-radius: 8px;
}

.firstItem {
  li {
    &:first-child {
      .cardItem {
        .value {
          padding-left: 0;
        }
      }
    }
  }
}

.text(@size, @weight) {
  font-size: @size;
  font-weight: @weight;
}
