.container{
  .rowInfo{
    margin: 30px 0;
    h3{
      font-weight: 600;
    }
    h4{
      font-weight: 500;
    }
    .colInfo{
      padding-right: 24px;
      .ProfileBooking{
        .cardView();
        margin-bottom: 12px;
        .listViewProfile{
          list-style: none;
          display: flex;
          padding: 0;
          li{
            padding-right: 32px;
            button{
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              margin: 0;
              &:focus{
                border: 2px solid #FFB340;
              }
            }
            .viewProfile{
              .btnProfile{
                min-width: 66px;
                max-width: 66px;
                min-height: 66px;
                max-height: 66px;
                border-radius: 12px;
              }
              p{
                .text(11px, 600);
                text-align: center;
                padding-top: 12px
              }
            }
          }
        }
        .cardComplete{
          .listCarditem(#F2FCFF,#00B5F1);
          display: flex;
          .firstItem();
        }
      }
      .InfoBooking{
        .cardView();
        .cardInfo{
          .listCarditem(#F2FCFF,#00B5F1);
          display: flex;
          .listItem{
            width: 100%;
            margin-bottom: 0;
            border-radius: 0;
          }
        }
      }
    }
  }
}
/// component chung
.listCarditem(@color, @colorBackground){
  background-color: @colorBackground;
  border-radius: 8px;
  .listItem{
    list-style: none;
    padding: 16px 0 16px 16px;
    margin-left: 8px;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    background-color: @color;
    .cardItem{
      p{
        .title{
          .text(13px, 400);
        }
        .value{
          .text(13px, 500);
          padding-left: 8px;
        }
      }
    }
  }
  .button{
    background-color: @color;
    padding: 8px 8px 0 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    &:hover{
      cursor: pointer;
    }
  }
}

.cardIncomplete{
  .listCarditem(#FFFAF2, #FFB340);
  .listItem{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .button{
    display: none;
  }
  .firstItem();
}

.cardView{
  padding: 16px 24px;
  background-color: white;
  border-radius: 8px;
}

.firstItem{
  li{
    &:first-child{
      .cardItem{
        .value{
          padding-left: 0;
        }
      }
    }
  }
}

.text(@size, @weight){
  font-size: @size;
  font-weight: @weight;
}
