.container{
  .rowInfo{
    margin: 30px 0;
    h3{
      font-weight: 600;
    }
    h4{
      font-weight: 500;
    }
    .colInfo{
      padding-right: 15px;
      .ProfileBooking{
        .cardView();
        margin-bottom: 12px;
        .listViewProfile{
          list-style: none;
          display: flex;
          padding: 0;
          li{
            padding-right: 32px;
            &:focus{
              background-color: #00B5F1;
            }
            button{
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              margin: 0;
              &:focus{
                border: 2px solid #FFB340;
              }
            }
            .viewProfile{
              .btnProfile{
                min-width: 66px;
                max-width: 66px;
                min-height: 66px;
                max-height: 66px;
                border-radius: 12px;
              }
              p{
                .text(11px, 600);
                text-align: center;
                padding-top: 12px
              }
            }
          }
        }
        .cardProfile{
          .listCarditem(#FFFAF2, #FFB340);
          li{
            &:first-child{
              .cardBody{
                span{
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
      .InfoBooking{
        .cardView();
        .cardInfo{
          .listCarditem(#F2FCFF,#00B5F1)
        }
      }
    }
  }
}
/// component chung
.listCarditem(@color, @colorBackground){
  background-color: @colorBackground;
  border-radius: 8px 8px;
  .listItem{
    list-style: none;
    padding: 16px 0 16px 16px;
    margin-left: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: @color;
    .cardBody{
      p{
        .text(13px, 400);
      }
      span{
        .text(13px, 500);
        padding-left: 8px;
      }
    }
  }
}
.cardView{
  padding: 16px 24px;
  background-color: white;
  border-radius: 8px;
}

.text(@size, @weight){
  font-size: @size;
  font-weight: @weight;
}
