.login {
  background-image: linear-gradient(90deg, #0352cc 0%, #0b7df1 100%);
  color: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  margin-left: 15px;
  position: relative;
  min-width: 127.27px;
}
