@width2: 100%;

.viewContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px 0 100px 0;
  .content {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: @width2;
    .subTitle {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 5px;
      width: @width2;
      p {
        border: 1px solid #e3e6f0;
        font-size: 16px;
        height: fit-content;
        padding: 5px 10px 5px 10px;
        text-align: center;
        text-transform: uppercase;
        width: fit-content;
      }
      h1 {
        font-weight: 400;
        margin-top: 20px;
        text-transform: uppercase;
      }
    }
  }
  .viewSupport {
    display: flex;
    .colSupport {
      display: flex;
      padding: 20px 0 20px 0;
    }
    .cardSupport {
      background-color: #ffffff;
      border: 1px solid #dfe3eb;
      display: flex;
      flex-direction: column;
      height: 250px;
      justify-content: center;
      align-items: center;
      margin-left: 25px;
      width: 250px;
      cursor: pointer;
      .img {
        height: 80px;
      }
      .titleCard {
        font-size: 16px;
        margin-top: 10px;
      }
      .selectSupport {
        font-size: 16px;
        margin-top: 5px;
        color: black;
        &:hover {
          color: #91b6de;
        }
      }
      &:hover {
        box-shadow: 5px 10px 18px #eeeeee;
        transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 599px) {
  .viewContent {
    .viewSupport {
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center;
      .colSupport {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
      }
      .cardSupport {
        margin: 0 !important;
      }
    }
    .content {
      .subTitle {
        p {
          font-size: 16px !important;
        }
        h1 {
          font-size: 22px !important;
        }
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .viewContent .viewSupport {
    display: grid !important;
    grid-template-columns: auto auto !important;
    grid-template-rows: auto auto !important;
    justify-content: center !important;
    width: @width2 !important;
  }
}
