.hidden{
  display: none;
}
.container{
  margin-top: 30px;
  .listCard{
    list-style: none;
    padding: 0;
    margin: 0 auto 40px;
    max-width: 100%;
    .cardProfile{
      margin: 20px 0;
      border: 2px solid #DFE3EB;
      border-radius: 3px;
      padding: 15px;
      .cardBody{
        .listItem{
          list-style: none;
          padding: 0;
          li {
            .cardItem{
              display: flex;
              font-size: 14px;
              font-weight: 400;
              color: #7D8EA5;
              .itemKeys{
                display: flex;
                min-width: 150px;
                p{
                  padding-left: 10px;
                }
              }
            }
            &:first-child{
              .cardItem{
              font-size: 14px;
              font-weight: bolder;
              color: #0453CC;
              text-transform: uppercase;
                .itemKeys{
                  min-width: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
