.btnFooter(@colorText, @color) {
  display: flex;
  padding: 8px 20px;
  color: @colorText;
  background-color: @color;
  border-radius: 3px;
  max-width: 100%;
  align-items: center;
  &:hover {
    color: @color;
    background-color: @colorText;
    cursor: pointer;
  }
  figure {
    margin-bottom: 0;
  }
  p {
    padding-left: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
  }
  &:last-child {
    color: white;
    background-color: @color;
    &:hover {
      color: white;
      background-color: @colorText;
    }
    p {
      padding-left: 0;
      padding-right: 8px;
      font-size: 14px;
      text-align: center;
    }
  }
}
.container {
  .listCard {
    list-style: none;
    padding: 0;
    margin: 0;

    .card {
      margin: 20px 0;
      border: 2px solid #dfe3eb;
      border-radius: 3px;
      padding: 15px;
      .cardBody {
        padding-bottom: 30px;
        .listContent {
          list-style: none;
          padding: 0;
          .content {
            display: flex;
            font-size: 14px;
            font-weight: 400;
            color: #7d8ea5;
            &:first-child {
              font-size: 14px;
              font-weight: bolder;
              color: #0453cc;
              text-transform: uppercase;
              .title {
                min-width: 0;
              }
            }
            .title {
              display: flex;
              min-width: 150px;
              p {
                padding-left: 10px;
              }
            }
          }
        }
      }
      .cardFooter {
        border-top: 1px solid #dfe3eb;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .delete {
          .btnFooter(#fd397a,#FFEBF1);
        }
        .repair {
          .btnFooter(#3699ff, #EBF5FF);
        }
        .continue {
          .btnFooter(#0453cc, #3699ff);
          @media (max-width: 425px) {
            margin-top: 10px;
            min-width: 100%;
          }
        }
      }
    }
  }
  .Footer {
    border-top: 1px solid #7d8ea5;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .Quaylai {
      p {
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .ThemHoSo {
      background-color: #3699ff;
      width: 200px;
      padding: 12px 20px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      &:hover {
        color: white;
        background-color: #0453cc;
        cursor: pointer;
      }
      p {
        margin: 0;
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
