@import url('./styles.module.less');
.bacSi {
  .input {
    .inputCustom();
    margin-bottom: 1rem;
    width: unset;
    margin-right: 20px;
  }

  .listBacSi {
    max-height: 700px;
    overflow: scroll;
    .ListCustom();
    padding: 15px 0;

    .active {
      border-color: #00b5f1;
      color: #00b5f1;
      .card {
        .bodyCard {
          .txtCK {
            color: blue;
          }
        }
      }
      .datkham {
        .btn {
          background: #00b5f1;
        }
      }
    }

    li {
      &:hover,
      &:focus {
        border-color: #00b5f1;
        color: #00b5f1;
        cursor: pointer;
        box-shadow: 0px 2px 10px 8px #f7f7f7;
        transform: translateY(-0.2rem);
        .card {
          .bodyCard {
            .txtCK {
              color: blue;
            }
          }
        }
        .datkham {
          .btn {
            cursor: pointer;
            box-shadow: 0px 2px 10px 8px #f7f7f7;
            background: #00b5f1;
          }
        }
      }
      z-index: 3;
      transition: all 0.5s ease-in-out;
      margin-bottom: 15px;
      background: #ffffff;
      border: 0.5px solid #cbd2d9;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 10px 15px;
      .card {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        figure {
          margin-right: 14px;
        }
        .bodyCard {
          width: 100%;
          font-weight: 500;
          .txtCK {
            color: #00b5f1;
          }
        }
      }
      .datkham {
        .txtTime {
          color: #00b5f1;
          font-weight: 500;
        }
        display: flex;
        align-content: center;
        align-items: center;
        .btn {
          border: none;
          color: white;
          font-weight: 500;
          background: #bfbfbfb5;
          border-radius: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 5px;
          font-size: 0.75rem;
          max-height: 35px;
          width: 35%;
          max-width: 100px;
          &:hover,
          &:focus {
            background: #00b5f1;
          }
        }
      }
    }
  }
}
