@import url('./styles.module.less');

.dichVu {
  margin-top: 10px;

  .groupBtn {
    &,
    .groupBtnMuti {
      grid-template-columns: repeat(4, 1fr);
    }
    &,
    .groupBtnNor {
      grid-template-columns: repeat(3, 1fr);
    }

    .ListCustom();
    display: grid;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      padding: 7.5px;

      .active {
        background: #00b5f1 !important;
        border: none !important;
        color: white !important;
      }

      .btn {
        border-radius: 8px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        color: #00b5f1;
        background: #f2fcff;
        width: 100%;

        transition: all 0.5s ease-in-out;
        &:hover,
        &:focus {
          cursor: pointer;
          box-shadow: 0px 2px 10px 8px #f7f7f7;
          transform: translateY(-0.2rem);
          background: #00b5f1;
          border: none;
          color: white;
        }
      }
    }
  }

  .addonServices {
    border: 1px solid #00b5f1;
    padding: 15px;
    border-radius: 8px;
    margin-top: 2rem;

    .titleDiv {
      margin-top: -2rem;
      // border: 1px solid;
      padding: 5px 15px;
      border-radius: 8px;
      width: fit-content;
      z-index: 2;
      background-color: white;
      .title {
        display: block;
        width: fit-content;
        font-weight: 600;
      }
    }

    .questionBHYT {
      display: flex;
      margin-top: 20px;
      width: 100%;

      .question {
        min-width: 40%;
      }

      .answer {
        width: 100%;
        .price {
          font-size: 0.75rem;
        }

        .groupRadio {
          margin-left: 15px;
          min-width: 60%;

          .radio {
            padding-right: 15px;
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: row;
            input {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .dichVu {
    .addonServices {
      .questionBHYT {
        display: flex;
        flex-direction: column;

        .answer {
          display: flex;
          flex-direction: row;
          margin-top: 8px;
          .price {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
