.bookingTree {
  .rowBody {
    margin: 30px 0;
    justify-content: space-between;
    .colLeft {
      padding-right: 15px;

      .listTree {
        width: 100%;

        .card {
          & > div {
            border: none;
          }
          .header {
            width: 100%;
          }
          border: none;
          margin-bottom: 20px;
          @media only screen and (max-width: 426px) {
            padding: 0;
          }
          padding: 20px;
          background-color: white;
          border-radius: 8px;
          box-shadow: 1px 1px 5px 3px #f5f5f5;

          h3 {
            display: flex;
            justify-content: space-between;
          }
          .input {
            .inputCustom();
          }

          .content {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .bookingTree {
    .rowBody {
      .colLeft {
        padding: 0;
        max-width: 100%;
        width: 100%;
        flex: unset;
      }
      .colRight {
        max-width: 100%;
        width: 100%;
        flex: unset;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .bookingTree {
    .rowBody {
      .colLeft {
        padding: 0;
      }
    }
  }
}

// --------------------- css mixin
.ListCustom {
  list-style-type: none;

  padding: 0;
  margin: 0;
  text-align: left;
}

.dnone {
  display: none !important;
}

.inputCustom {
  width: 100%;
  background: #f5f7fa;
  border: 0.5px solid #e3e7eb;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  align-content: center;

  input {
    padding: 0 10px;
    border: none;
    width: 100%;
    background: none;
    outline: none;
  }
  .active {
    color: #1890ff;
  }
  span {
    margin: 0 10px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
