.containerDefault {
  position: relative;
  background: #fff;
  margin: -50px auto 120px;
  border-radius: 5px;
  min-height: 300px;
  padding: 30px;
  max-width: 1140px;
  // border: 1px solid #ddd;
  box-shadow: 0 3px 6px #3b404533;
  font-size: 0.938rem;
  @media only screen and (max-width: 426px) {
    font-size: smaller;
  }
}

.containerError {
  position: relative;
  background: #fff;
  margin: 130px auto 120px;
  border-radius: 5px;
  min-height: 300px;
  padding: 30px;
  max-width: 1140px;
  border: 1px solid #ddd;
  font-size: 0.938rem;
}
