// css mixin
.ListCustom {
  list-style-type: none;
  width: 80%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.containerSelectHospitalCustom {
  background-color: white;
  .rowSelect {
    margin: 30px 0;
    .colGroupInputSelect {
      padding: 15px;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(60deg,#2FA0EC, #05E3FD);
      h2{
        text-align: center
      }
      .GroupInputSelect {
        .ListCustom ();
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        li {
          padding: 7.5px;
          width: 50%;
          .inputSearch {
            max-height: 40px;
            align-content: center;
            align-items: center;
            border-radius: 25px;
            input {
              font-size: 13px;
              padding-left: 7px;
            }
          }
          .inputSelect {
            & > div {
              height: 40px;
              border-radius: 25px;
              align-content: center;
              align-items: center;
              font-size: 13px;
            }
          }
        }
      }
    }
    .colListCard {
      padding: 0 15px;
      display: flex;
      justify-content: center;
      .listCard {
        .ListCustom();
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        li {
          display: flex;
          align-items: stretch;
          padding: 10px 7.5px;
          width: 50%;
          .cardHospital {
            display: flex;
            align-content: center;
            justify-content: space-evenly;

            width: 100%;
            padding: 7.5px;

            border: 2px solid #e0e0e0;
            box-sizing: border-box;
            border-radius: 9px;
            .cardView {
              display: flex;
              justify-content: center;
              align-items: center;

              max-width: 15%;
              min-width: 15%;
              margin-bottom: 0;
              img {
                max-width: 50px;
              }
            }
            .cardBody {
              min-width: 70%;
              max-width: 70%;
              .nameHospital {
                font-size: 12px;
                font-weight: 600;
              }
              .address {
                font-size: 12px;
                color: #828282;
                font-weight: 400;
              }
              .rate{
                display: flex;
                font-size: 15px;
                width: 8px;
                margin: -18px -10px -12px;
                transform: scale(0.8);
              }
            }
            .favorite{
            }
            &:hover {
              border-color: #0352cc !important;
              box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 9%);
              cursor: pointer;
              color: #0352cc;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .containerSelectHospitalCustom {
    .GroupInputSelect {
      li {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .containerSelectHospitalCustom {
    .colGroupInputSelect,
    .colListCard {
      padding: 0 !important;
    }
    .GroupInputSelect,
    .listCard {
      width: 100% !important;
    }
  }
}

@media (max-width: 608px) {
  .containerSelectHospitalCustom {
    .colListCard {
      .listCard {
        li {
          width: 100% !important;
        }
      }
    }
  }
}
