// css mixin
.ListCustom {
  list-style-type: none;
  width: 80%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.containerSelectHospitalCustom {
  .rowSelect {
    .colGroupInputSelect {
      margin-bottom: 1rem;
    }
    .colListCard {
      padding: 0 15px;
      display: flex;
      justify-content: center;
      .listCard {
        .ListCustom();
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        li {
          display: flex;
          align-items: stretch;
          padding: 7.5px;
          width: 50%;
          .cardHospital {
            display: flex;
            align-content: center;
            justify-content: space-evenly;

            width: 100%;
            padding: 7.5px;

            border: 2px solid #e0e0e0;
            box-sizing: border-box;
            border-radius: 9px;
            .cardView {
              display: flex;
              justify-content: center;
              align-items: center;

              min-width: 30%;
              max-width: 30%;
              margin-bottom: 0;

              img {
                max-width: 50px;
              }
            }
            .cardBody {
              min-width: 70%;
              max-width: 70%;
              .nameHospital {
                font-size: 12px;
                font-weight: 600;
              }
              .address {
                font-size: 12px;
                color: #828282;
                font-weight: 400;
              }
            }
            &:hover {
              border-color: #0352cc !important;
              box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 9%);
              cursor: pointer;
              color: #0352cc;
            }
          }
        }
      }
    }
  }
}
