//  đường line chuột gặm
.line {
  width: 123%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 -35px;

  padding: 15px 0;
  .circle {
    width: 35px;
    height: 35px;
    background-color: white;
    box-shadow: 0px 0px 0px 2px #f0f0f0;
    border-radius: 50%;
  }
  .dashed {
    width: 100%;
    border-top: 3px dashed whitesmoke;
  }
}
.top {
  padding: 0;
  margin-top: -55px;
  .dashed {
    border: none;
  }
}
.bottom {
  padding: 0;
  margin-bottom: -55px;
  .dashed {
    border: none;
  }
}
//  đường line chuột gặm
