.Text(@size, @weight, @color) {
  font-size: @size;
  font-weight: @weight;
  color: @color;
}

.containerDefault {
  position: relative;
  background: #fff;
  margin: -50px auto 120px;
  border-radius: 5px;
  min-height: 300px;
  padding: 30px;
  max-width: 1140px;
  border: 1px solid #ddd;
  font-size: 15px;
  display: flex;
}

.containerError {
  margin-top: 130px;
  position: relative;
  background: #fff;
  margin: -50px auto 120px;
  border-radius: 5px;
  min-height: 300px;
  padding: 30px;
  max-width: 1140px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.Contact {
  width: 30%;
  height: auto;
  background-color: red;
}
.BoxFill {
  width: 70%;
  height: auto;
  padding-left: 20px;
  .Item_BoxFill {
    list-style: none;
    min-width: 50%;
    margin-bottom: 30px;
    padding: 0;
    line-height: 2.2;
    padding-right: 15px;
    &:last-child {
      min-width: 100%;
      padding-bottom: 20px;
      .Item_input {
        height: 120px;
      }
    }
    .Item_title {
      .Text(1rem, 700, #12263f);
      sup {
        color: red;
      }
    }
    .Item_input {
      border-radius: 0.25rem;
      line-height: 1.5;
      height: 45px;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: red;
      &:hover {
        border-color: none !important;
      }
      &:focus {
        background-color: #fff;
        border-color: #0352cc;
        outline: 0;
        box-shadow: none !important;
        color: #032a5f !important;
      }
    }
    .Item_select {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 0.875rem !important;
      width: 100%;
      div {
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        height: 45px;
        // padding: 0;
        margin: 0;
        color: #bfbfbf;
      }
    }
  }
}
