.SupportHeader {
  display: flex;
  justify-content: center;
  .imgSupport {
    margin-right: 15px;
    flex-basis: 40px;
    width: 40px;
    img {
      width: 100%;
    }
  }
  .descSupport {
    p {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .phoneSupport {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
      letter-spacing: 3px;
      font-weight: 500;
      color: #627792;
    }
  }
}
