.ListMenuInfo {
  padding: 7.5px 0;
  list-style: none;
  margin: 0;
  display: flex;
  li {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    &:first-child {
      margin-right: 15px;
      .bell {
        a {
          padding: 10px !important;
          border-radius: 50%;
          svg {
            color: #627792;
          }
        }
        sup {
          user-select: none;
          right: 40% !important;
          top: -40% !important;
          transform: translate(100%, 0%) !important;
        }
        &:hover a,
        .activeBell {
          background-color: #e9f4fe !important;
        }
        &:hover svg {
          animation: ring 1.5s ease;
          transition: all 0.3s ease;
          color: #0352cc;
        }
        .activeBell {
          color: #0352cc;
        }
      }
    }
    a {
      background-color: red;
      .icons {
        font-size: 16px;
      }
      &.downloadApp {
        font-weight: 500;
        border-color: #0352cc;
        font-size: 14px;
        position: relative;
        color: #0352cc;
        white-space: nowrap;
        background: transparent;
        border-radius: 3px;
        &:hover {
          color: #fff !important;
          z-index: 2;
          background: #0352cc;
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}
