.header {
  background-color: white;
  padding: 15px 0;
  transition: 2s ease-out;

  .showSearch {
    transition: 2s ease-out;
    opacity: 1;
  }

  .hiddenSearch {
    transition: 2s ease-out;
    opacity: 0;
    height: 0;
    display: none;
  }

  .rowSearch {
    box-shadow: 2px 2px 20px 5px #bebebe33;
    border-radius: 13px;
    .colSearch {
      padding: 0 15px;
      margin-top: 1%;
      min-height: 100px;
      .groupTimKiem {
        display: flex;
        .input {
          padding: 10px 15px;
          outline: none;
          border: none;
          width: 100%;
          box-shadow: 2px 2px 20px 5px #bebebe33;
        }
        .btnTim {
          border-radius: 8px;
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
          padding: 8px;
          color: #fafafa;
          background: #00b5f1;
          width: 10%;

          &:hover {
            background: #1cc1f8;
            border: none;
            color: white;
            outline: 0;
            box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%),
              0 4px 15px 0 rgb(0 0 0 / 15%);
          }
        }
      }
    }
  }

  .rowHeader {
    padding: 15px 0;
    .colLogo {
      border-left: 0.5px dashed whitesmoke;
      display: flex;
      align-items: flex-end;
      .logo {
        width: 90%;
        margin-bottom: 0;
      }
    }
    .colBody {
      border-right: 0.5px dashed whitesmoke;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .groupBtn {
        .listCustom();
        li {
          margin: 0 5px;
          .btn {
            font-size: 13px;
            color: #002e64;
            font-weight: 500;
            padding: 5px;
            border-radius: 15px;
            border: none;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            background-color: white;
            transition: all 0.3s ease-in-out;
            &:hover {
              box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
              transform: translateY(-0.2rem);
              background-color: #00b5f1;
              color: white;
              cursor: pointer;
              transition: all 0.5s ease-in-out;
              span {
                transition: all 0.5s ease-in-out;
                fill: white;
              }
            }
          }
        }
      }

      .listMenu {
        .listCustom();
        li {
          user-select: none;
          touch-action: manipulation;

          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;

          border: none;
          border-radius: 15px;
          transition: all 0.5s ease-in-out;

          margin: 0 5px;
          a {
            width: 100%;

            padding: 5px 8px;

            color: #002e64;
            font-size: 13px;
            font-weight: 500;
            white-space: nowrap;
          }
          &:hover {
            a {
              transition: all 0.5s ease;
              color: white;
            }
            span {
              transition: all 0.5s ease;
              fill: white;
            }
            transition: all 0.5s ease-in-out;

            background-color: #00b5f1;
            cursor: pointer;
            transform: translateY(-0.2rem);
            box-shadow: 0 0px 5px rgb(0 0 0 / 5%);
          }
        }
      }
    }
  }
}

// ---------------mixin-----------------

.listCustom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
}

//  responsive

@media only screen and (max-width: 1020px) {
  .header {
    .rowHeader {
      .colLogo {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .header {
    .rowHeader {
      .colBody {
        padding: 0;
        .listMenu,
        .groupBtn {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

// @media only screen and (max-width: 1024px) {
//   .header {
//     .rowHeader {
//       .colLogo {
//       }
//     }
//   }
// }
