.header {
  background-color: white;
  padding: 15px 0;
  .rowGroup {
    .colGroup {
      .groupBtn {
        .listCustom();
        li {
          margin: 0 5px;
          .btn {
            color: #002e64;
            font-weight: 500;
            padding: 5px;
            border-radius: 15px;
            border: none;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            background-color: white;
            transition: all 0.3s ease-in-out;
            &:hover {
              box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
              transform: translateY(-0.3rem);
              background-color: #00b5f1;
              color: white;
              cursor: pointer;
              span {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
  .rowHeader {
    align-items: center;
    .colLogo {
      display: flex;
      align-items: flex-end;
      .logo {
        width: 100%;
        margin-bottom: 0;
        text-align: left;
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
    .colBody {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .listMenu {
        .listCustom();
        li {
          padding: 5px;
          margin: 0 5px;
          border: none;
          border-radius: 15px;
          transition: all 0.3s ease-in-out;
          &:hover {
            box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
            transform: translateY(-0.3rem);
            background-color: #00b5f1;
            a {
              color: white;
            }
          }
          a {
            color: #002e64;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
            transition: unset;
          }
        }
      }
    }
  }
}

// ---------------mixin-----------------

.listCustom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
}
