@import './variable.less';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: @14;
  text-rendering: optimizeLegibility;
  color: #12263f !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #12263f;
  width: 100%;
  font-size: @13;
  &:hover {
    color: #007bff;
    cursor: pointer;
  }
}

div {
  width: auto;
  display: block;
}

p {
  width: 100%;
  display: block;
  font-size: @13;
}

small {
  font-size: @12;
}

big {
  font-size: @14;
}

h1 {
  font-size: @h1;
}
h2 {
  font-size: @h2;
}
h3 {
  font-size: @h3;
}
h4 {
  font-size: @h4;
}
h5 {
  font-size: @h5;
}
h6 {
  font-size: @h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  color: #12263f;
}

@rslg: 0.5vw;
@rsmd: 1vw;
@rssm: 2vw;

@media only screen and (max-width: 1440px) and (min-width: 2560px) {
  a,
  p,
  span {
    font-size: @13;
  }

  h1 {
    font-size: @h1;
  }
  h2 {
    font-size: @h2;
  }
  h3 {
    font-size: @h3;
  }
  h4 {
    font-size: @h4;
  }
  h5 {
    font-size: @h5;
  }
  h6 {
    font-size: @h6;
  }
}

@media only screen and (max-width: 1024px) {
  a,
  p,
  span {
    font-size: @13;
  }
  h1 {
    font-size: calc(@h1 - @rslg);
  }
  h2 {
    font-size: calc(@h2 - @rslg);
  }
  h3 {
    font-size: calc(@h3 - @rslg);
  }
  h4 {
    font-size: calc(@h4 - @rslg);
  }
  h5 {
    font-size: calc(@h5 - @rslg);
  }
  h6 {
    font-size: calc(@h6 - @rslg);
  }
}

@media only screen and (max-width: 768px) {
  a,
  p,
  span {
    font-size: @12;
  }
  h1 {
    font-size: calc(@h1 - @rsmd);
  }
  h2 {
    font-size: calc(@h2 - @rsmd);
  }
  h3 {
    font-size: calc(@h3 - @rsmd);
  }
  h4 {
    font-size: calc(@h4 - @rsmd);
  }
  h5 {
    font-size: calc(@h5 - @rsmd);
  }
  h6 {
    font-size: calc(@h6 - @rsmd);
  }
}

@media only screen and (max-width: 426px) {
  a,
  p,
  span {
    font-size: @12;
  }
  h1 {
    font-size: calc(@h1 - @rssm);
  }
  h2 {
    font-size: calc(@h2 - @rssm);
  }
  h3 {
    font-size: calc(@h3 - @rssm);
  }
  h4 {
    font-size: calc(@h4 - @rssm);
  }
  h5 {
    font-size: calc(@h5 - @rssm);
  }
  h6 {
    font-size: calc(@h6 - @rssm);
  }
}

strong {
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

img {
  width: 100%;
  border-radius: 5px;
}

.d-none {
  display: none;
}

.center {
  text-align: center;
  align-items: center;
}

.p-15 {
  padding: 15px;
}

.py-15 {
  padding: 0 15px;
}

.px-15 {
  padding: 15px 0;
}

.my-15 {
  margin: 0 15px;
}

.mx-15 {
  margin: 15px 0;
}

.m-15 {
  margin: 15px;
}
