.banner {
  min-width: 360px;
  max-width: 360px;
  background-image: url('/images/bannerBillPrint.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;

  .title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-bottom: 5px;
  }
  .subTitle {
    font-size: 13px;
    text-align: center;
    color: white;
    margin-bottom: 5px;
  }
  .group {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    .QR {
      padding: 10px;
      border-radius: 10px;
      background-color: white;
    }
    .linkDown {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-content: center;
      p {
        font-style: italic;
        color: white;
        font-size: 17px;
        font-weight: bolder;
        margin-bottom: 5px;
      }
      .btnDown {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;

        width: 100%;
        color: white;
        background: linear-gradient(142.64deg, #fe7f44 26.66%, #ffcf68 93.06%);
        border: 1px solid #01b5f1;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 0.75rem;
        text-transform: none;

        margin: 0;
        white-space: nowrap;
        line-height: 1.5;
      }
    }
  }
}
