@media only screen and (max-width: 1168px) {
	.viewBanner {
		display: none !important;
		visibility: hidden;
	}
}
.viewBanner {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-size: cover;
	background-image: linear-gradient(to right, #687AD0, #04A3BD);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	margin-top: 160px;
	min-height: 120px;
	.title {
		color: white;
		text-decoration: underline;
		text-decoration-color: #55DD77;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		.textTitle {
			font-size: 2.2rem;
		}
	}
	.subTitle {
		color: white;
		text-align: center;
		text-transform: none;
		font-weight: 500;
		font-size: 1.0rem;
	}
}
