.ContainerNews {
  .ListCard {
    list-style: none;
    width: 50%;
    
    .img {
      width: 100%;
      height: auto;
    }
    li {
      padding: 1.25rem 0 1.25rem 0;
      background-color: red;
      p {
        font-size: 1.3rem;
        font-weight: 700;
      }
      span {
        font-size: 0.975rem;
        line-height: 1.45;
        text-align: justify;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}




// // Color variables (appears count calculates by raw css)
// @color0: #12263f; // Appears 2 times
// @color1: #0056b3; // Appears 2 times

// .titlePage {
//   align-items: center;
//   background-image: linear-gradient(45deg, #6a78d1, #00a4bd);
//   color: #ffffff;
//   display: flex;
//   font-size: 2rem;
//   font-weight: bold;
//   height: 179px;
//   justify-content: center;
//   text-transform: uppercase;
//   width: 100%;
// }
// .content {
//   margin-bottom: 30px;
// }
// .listCard {
//   margin-top: 40px;
// }
// .listCard_content {
//   padding-left: 20px;
//   a {
//     color: @color0;
//     font-size: 1.125rem;
//     font-weight: 500;
//     text-transform: uppercase;
//     &:hover {
//       color: @color1;
//     }
//   }
//   .time {
//     color: #777777;
//     font-size: 0.75rem;
//     margin-bottom: 5px;
//     margin-top: 10px;
//   }
//   .content {
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 3;
//     display: -webkit-box;
//     font: 400 1rem arial;
//     line-height: 1.45;
//     overflow: hidden;
//     text-align: justify;
//   }
// }
// .div_img_big {
//   height: 66%;
// }
// .img_big {
//   height: 20.25rem;
//   width: 33.75rem;
// }
// .img_small {
//   height: 170px;
//   width: 282px;
// }
// .card_big {
//   height: 34%;
//   padding-right: 25px;
//   padding-top: 10px;
// }
// .card__title {
//   a {
//     color: @color0;
//     font-size: 1.3rem;
//     font-weight: bolder;
//     margin-bottom: 10px;
//     text-transform: uppercase;
//     &:hover {
//       color: @color1;
//     }
//   }
//   p {
//     font-size: 0.975rem;
//     line-height: 1.45;
//     text-align: justify;
//   }
// }
// .colRight_first {
//   height: 35%;
//   padding-top: 28px;
// }
// .colRight_second {
//   height: 30%;
//   padding-top: 67px;
// }
// .page {
//   display: flex;
//   justify-content: center;
//   margin-top: 40px;
// }
