.rowHeader {
  .listCard {
    padding: 0 12px 0 12px;
    .card {
      list-style: none;
      p {
        font-size: 1.3rem;
        font-weight: 700;
      }
      span {
        font-size: 0.975rem;
        line-height: 1.45;
        text-align: justify;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
