.container {
  max-width: 1140px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  &.container_fluid {
    max-width: unset;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  &.container_fixed {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
  }

  @media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1140px;
      min-width: 1140px;
    }
  }

  // @media (min-width: 992px) {
  //   .container,
  //   .container-lg,
  //   .container-md,
  //   .container-sm {
  //     // max-width: 960px;
  //   }
  // }

  // @media (min-width: 768px) {
  //   .container,
  //   .container-md,
  //   .container-sm {
  //     max-width: 720px;
  //   }
  // }

  // @media (min-width: 576px) {
  //   .container,
  //   .container-sm {
  //     max-width: 540px;
  //   }
  // }
}
