.enterCustom {
  padding: 0 10px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.875rem;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
}

.formContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .submit {
    background: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4 15px;
    min-width: 152px;
    min-height: 32px;
    margin: 10px;
    font-weight: 500;
    transition: all 0.3s;
    &:disabled {
      background-color: #cccccc;
    }
    &:hover {
      background-color: #007bff;
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
  }

  .listContact {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .enter {
        width: 100%;
        input[type='date'] {
          background-color: red;
        }
        label {
          font-weight: 500;
          sup {
            font-size: 1rem;
            color: red;
          }
        }

        input,
        select {
          height: 45px;
          .enterCustom();
        }
        textarea {
          padding: 10px !important;
          .enterCustom();
        }

        input,
        select,
        textarea {
          &:hover,
          &:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
            outline: 0;
          }
        }
      }
    }
  }
}

.birthday {
  select {
    width: 30% !important;
    margin-right: 5% !important;
    &:last-child {
      margin: 0 !important;
    }
  }
}
