
.listCard{
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  padding: 0 24px;
  margin: 0;

  background-color: white;
  li{
    padding: 6px;
    width: 25%;
    display: flex;
    align-items: stretch;
    .cardContent{
      width: 100%;
  
      border: 1px solid #CBD2D9;
      border-radius: 8px;
      padding: 11px 0;
      text-align: center;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        padding-top: 10px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
