
// Kích thước màn hình sẽ reponsive
@small-screen: 767px;
@small-screen-up: 768px;
@small-and-down: 'only screen and (max-width : #{@small-screen})';

@medium-screen: 992px;
@medium-screen-up: 993px;
@medium-and-up: 'only screen and (min-width : #{@small-screen-up})';


@large-screen: 1100px;
@large-screen-up: 1101px;
@large-and-up: 'only screen and (min-width : #{@medium-screen-up})';

@medium-only: 'only screen and (min-width : #{@small-screen-up}) and (max-width : #{@medium-screen})';


// Kiểu phong chử
@font: 'Arial', serif;
@font2: 'Patrick Hand', cursive;
@font3: "Roboto",Arial,serif;


// Các loại màu sắc chủ đạo của web
@default-color: #2bbbad;
@primary-color: #00c2ff;
@secondary-color: #bb9a37;
@info-color: #33b5e5;
@success-color: #00c851;
@warning-color: #ffbb33;
@danger-color: #ff3547;

// Các loại màu sắc chủ đạo của button
@button_background: #0352cc;
@button_color: #ffffff;

// Màu chủ đạo của border
@border-color:#e5e5e5;
