.wapperIntro {
  background: url(https://medpro.com.vn/static/media/bg_new.9578e7c5.jpg)
    no-repeat top;
  background-size: cover;
  padding: 3.75rem 0 100px 0;
  @media (min-width: 769px) and (max-width: 1024px) {
    min-width: 0;
  }
  .Para {
    .boxPara {
      .intro {
        span {
          color: #74cece;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        h1 {
          color: aliceblue !important;
          line-height: 37px;
        }
      }
      .Paragraph {
        color: white;
        font-size: 14px;
        text-align: justify;
        padding-left: 30px;
        @media only screen and (max-width: 426px) {
          padding-left: 0px;
        }
      }
    }
  }
}
