@import url('./styles.module.less');

.wrapper {
  background-color: white;
  .steps {
    .rowStep {
      .colStep {
        min-height: 120px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        .listStep {
          .ListCustom();
          display: flex;
          min-width: 700px;
          justify-content: space-between;

          li {
            display: flex;
            flex-direction: row;
            min-width: 180px;
            align-items: center;
            align-content: center;
            .btnIcon {
              border: none;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              span {
                fill: white;
                margin: 0;
              }
            }
            hr {
              min-width: 100px;
              margin: 0 20px;
              border-color: whitesmoke;
            }
            &:last-child {
              hr {
                display: none;
              }
            }

            &:first-child {
              .btnIcon {
                background: linear-gradient(
                  143.86deg,
                  #008cff 6.49%,
                  #26b4e8 96.83%
                );
              }
            }
          }
        }
      }
    }
  }
}
