@import url('./styles.module.less');

.wrapper {
  background-color: white;
  .steps {
    .rowStep {
      .colStep {
        min-height: 120px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        .listStep {
          width: 100%;
          .ListCustom();
          display: flex;
          justify-content: center;

          li {
            display: flex;
            flex-direction: row;

            align-items: center;
            align-content: center;
            .btnIcon {
              border: none;
              border-radius: 50%;
              min-width: 40px;
              width: 40px;
              height: 40px;

              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;

              background-color: currentcolor;

              span {
                fill: white;
                margin: 0;
              }
            }
            hr {
              width: 100%;
              background-color: gray;
            }

            &:first-child {
              // background-color: violet;
              .hrBe {
                display: none;
              }
            }

            &:last-child {
              width: 5% !important;
              .hrAf {
                display: none;
              }
              @media only screen and (max-width: 426px) {
                width: 12% !important;
              }
            }

            &:first-child {
              .btnIcon {
                background: linear-gradient(
                  143.86deg,
                  #008cff 6.49%,
                  #26b4e8 96.83%
                );
              }
            }
          }
        }
      }
    }
  }
}
