.bookingTree {
  .rowBody {
    margin: 30px 0;
    justify-content: space-between;
    .colLeft {
      min-width: 725px;
      padding-right: 15px;
      .listTree {
        width: 100%;
        .ListCustom();
        li {
          margin-bottom: 20px;
          .card {
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            h3 {
              display: flex;
              justify-content: space-between;
            }
            .input {
              .inputCustom();
            }
            // .content {
            //   margin: 15px 0;
            // }
            .in {
              display: none;
              height: 0;
            }
            .out {
              overflow: hidden;
              height: auto;
              transition: height 3s;
            }
          }
        }
      }
    }
  }
}

// --------------------- css mixin
.ListCustom {
  list-style-type: none;

  padding: 0;
  margin: 0;
  text-align: left;
}

.dnone {
  display: none !important;
}

.inputCustom {
  background: #f5f7fa;
  border: 0.5px solid #e3e7eb;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  align-content: center;
  input {
    padding: 0 10px;
    border: none;
    width: 100%;
    background: none;
    outline: none;
  }
  span {
    margin: 0 10px;
  }
}
