.containerBill {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  .rowDetailBooking {
    .colDetailBooking {
      padding: 0 15px;
      .billPrint {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        padding: 15px;
        margin-bottom: 1rem;

        .titleBill {
          text-align: center;
          margin-bottom: 15px;
        }

        .billInfo {
          min-width: 360px;
          box-shadow: inset 0px 0px 0px 2px #f0f0f0;
          overflow: hidden;
          max-width: 360px;

          border-radius: 10px;

          padding: 40px 20px;
          margin: 30px 0;

          display: flex;
          flex-direction: column;
          align-items: center;

          background-color: white;

          .hospital {
            text-align: center;
            margin-bottom: 15px;
            figure {
              img {
                object-fit: contain;
                max-width: 250px;
              }
              margin-bottom: 25px;
            }
            .nameHos {
              font-size: 15px;
              font-weight: 500;
              margin-bottom: 5px;
            }
            .addressHos {
              font-weight: 400;
              margin-bottom: 5px;
            }
          }

          .barcode {
            text-align: center;
            .title {
              font-weight: 500;
              margin-bottom: 5px;
            }
          }

          .status {
            min-width: 120px;
            text-align: center;
            border-radius: 20px;
            padding: 5px 15px;
            border: 0.5px solid;
            color: white;
            &.statusDanger {
              border-color: orangered;
              background-color: orangered;
            }
            &.statusSuccess {
              border-color: #6dec7b;
              background-color: #6dec7b;
            }
            &.statusDisable {
              border-color: #c6cace;
              background-color: #c6cace;
            }
          }

          .thanhToanLai {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;

            .txtUnpay {
              text-align: center;
              color: red;
              margin: 15px 0;
            }
            .button {
              color: #01b5f1;
              border: 1px solid #01b5f1;
              border-radius: 15px;
              padding: 5px 35px;
              background-color: transparent;
              box-shadow: none;
              display: flex;
              align-items: center;
            }
          }

          .numberBill {
            .awaitMessage {
              color: #ffb340;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              flex-direction: column;
              margin-bottom: 15px;
              p {
                padding: 0 35px;
              }
            }
            .number {
              .text {
                font-weight: 500;
                margin-bottom: 5px;
              }
              .num {
                font-size: 60px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 5px;
              }
              .number {
                color: #00b5f1;
              }
              .gray {
                color: #c6cace;
              }
            }
          }

          .listItemBooking {
            list-style: none;
            padding: 0;
            width: 100%;

            line-height: 2.2;
            li {
              padding: 0;
              .itemBooking {
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                font-weight: 500;
              }
            }
          }

          .attention {
            color: orangered;
          }

          .organization {
            margin-bottom: 15px;
            a {
              width: 100%;
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;

              p {
                font-size: 12px;
                font-style: italic;
                margin-right: 5px;
                margin-bottom: 0;
              }
              img {
                width: 80px;
              }
            }
          }
        }

        .btnCancel {
          padding: 0 40px;

          border: none;
          color: #7b8794;
          &:hover {
            color: #0352cc !important;
            box-shadow: 0 3px 6px #3b404533;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
