.text(@size, @weight){
  font-size: @size;
  font-weight: @weight;
}
.hidden{
  display: none;
}
.container{
  margin-top: 40px;
  h2 {
    text-align: center;
    margin-bottom: 35px;
    .text(20px, 600);
    text-transform: uppercase;
  }
  .listCard{
    flex-direction: unset;
    flex-wrap: wrap;
    max-width: 450px;
    @media (max-width: 425px) {
      
      max-width: fit-content;
    }
    margin: 0 auto 60px;
    list-style: none;
    padding: 0;
    .card{
      border: 2px solid #DFE3EB;
      padding: 15px 15px 0 15px;
      margin-bottom: 20px;
      &:hover{
        cursor: pointer;
        border: 2px solid #5152CC;
      }
      .cardBody{
        list-style: none;
        padding: 0;
        .element{
          display: flex;
          &:first-child{
            .title{
              color: #0352cc;
              text-transform: uppercase;
              p{
                padding-left: 10px;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
          .title{
            display: flex;
            min-width: 150px;
            p{
              padding-left: 10px;
              font-size: 13px;
              font-weight: 400;
            }
          }
          .values{
            p{
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
        .Bottom{
          border-top: 2px solid #DFE3EB;
          padding: 15px 0;
          display: flex;
          align-items: center;
          .delete{
            display: flex;
            color: #FD397A;
            background-color: #FFEBF1;
            padding: 8px 20px;
            border-radius: 3px;
            height: 34px;
            &:hover{
              color: #FFFFFF;
              background-color: #FD397A;
            }
            p{
              font-size: 12px;
              font-weight: 600;
              padding-left: 8px;
            }
          }
          .repair{
            display: flex;
            color: #3699FF;
            background-color: #FFEBF1;
            padding: 8px 20px;
            border-radius: 3px;
            margin-left: 10px;
            height: 34px;
            &:hover{
              color: #FFFFFF;
              background-color: #3699FF;
            }
            p{
              font-size: 12px;
              font-weight: 600;
              padding-left: 8px;
            }
          }
          .continue{
            display: flex;
            color: white;
            background-color: #1DA1F2;
            padding: 10px 20px;
            border-radius: 3px;
            margin-right: 0;
            &:hover{
              background-color: #007BFF;
              cursor: pointer;
            }
            p{
              font-size: 14px;
              font-weight: 600;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }

  .btn{
    max-width: 450px;
    border-top: 3px solid #dfe3eb;
    margin: 0 auto 60px;
    padding-top: 30px;
    .text(14px, 500);
    cursor: pointer;
    &:hover{
      .text(15px, 600);
    }
  }
}