.HandlerList {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    text-align: left;
    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}
.btnLogin {
  border: none;
  width: 100%;
  background: #1da1f2 !important;
  color: #fff !important;
  box-shadow: none;
  padding: 12px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}
.rowView {
  margin-bottom: 20px;
  background-color: white;
  padding: 15px 30px;
  text-align: center;
}

.containerDrawerMenu {
  padding: 0;
}
