@width1: 100%;

// css mixin
.ListCustom {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.imgLogo {
  width: 80px;
  height: 80px;
}

// css DownloadCustom
.DownloadCustom {
  margin: 30px 0;
  .MyApp {
    text-align: center;
    justify-content: center;
    .ColMyApp {
      margin-bottom: 2.5rem;
    }
    .download {
      border: 1px solid #e3e6f0;
      color: #627792;
      text-transform: uppercase;
      font-size: 10px;
      display: inline-block;
      letter-spacing: 4px;
      padding: 6px 24px;
    }
    .header_title {
      color: #12263f;
      font-size: 2rem;
      font-weight: 500;

      text-transform: uppercase;
      span {
        background: #0352cc;
        padding: 4px 24px;
        border-radius: 3px;
        color: #fff;
      }
    }
    .listDownload {
      .ListCustom();
      justify-content: center;
      display: flex;
      li {
        padding: 0 15px;
      }
    }
  }
  .ListBenefit {
    justify-content: center;
    .slideMobileCol {
      margin: 0;
      display: flex;
      justify-content: center;
      .slideMobile {
        padding: 0 30px;
        text-align: center;
        img {
          max-width: 400px;
          width: 340px;
        }
      }
    }

    .colBenefitRight {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .rightListBenefit {
        .ListCustom();
        li {
          margin-bottom: 10% !important;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          .img_small {
            .imgLogo();
          }
        }
      }
    }
    .colBenefitLeft {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .leftListBenefit {
        .ListCustom();
        li {
          margin-bottom: 10% !important;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: right;
          .img_small {
            .imgLogo();
          }
        }
      }
    }
    // css reponsive footer
    @media only screen and (max-width: 768px) {
      .slideMobile {
        width: auto;
        img {
          width: 280px;
        }
      }
      .rightListBenefit,
      .leftListBenefit {
        display: none;
      }
    }
  }
}
