.btnCustom {
  width: 152px;
  height: 32px;
  border-color: #0352cc;
  border-radius: 3px;
}

.user {
  .btnCustom();
  color: #0352cc;
  background: transparent;

  &:hover,
  &:focus {
    color: #fff;
    border-color: #0352cc;
    background: #0352cc;
  }
}

.login {
  .btnCustom();
  color: white;
  background-image: linear-gradient(90deg, #0352cc, #0b7df1);
  &:hover {
    color: #0352cc;
    border-color: #0352cc;
    background: transparent;
  }
}
