.PaymentMethods {
  .rowMethods {
    padding-bottom: 46px;

    .colTitle {
      .titlePayment {
        font-weight: bold;
        text-transform: uppercase;
      }
      margin: 1rem 0;
    }
    .colMethods {
      // box-shadow: 0 3px 6px #3b404533;
      padding-right: 15px;
      .bannerMethods {
        margin: 0;
      }

      .listPayment {
        .panel {
          border: none;

          padding: 10px;
          background-color: white;
          border-radius: 8px;
          box-shadow: 1px 1px 5px 3px #f5f5f5;

          margin-bottom: 1rem;
          & > div {
            border: none;
          }
          .headerCollaps {
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            .viewIcon {
              .icon();
              span {
                fill: #7b8794;
              }
            }
            .icons_select {
              .icon();
              span {
                fill: #00b5f1;
              }
            }
            .contenTitle {
              display: flex;
              flex-direction: column;
              .title {
                .text(14px, 600);
                color: #323f4b;
              }
              .subtitle {
                .text(12px, 400);
              }
            }
          }
        }
      }
    }
  }
}

// ----------- component

.text(@size, @weight) {
  font-size: @size;
  font-weight: @weight;
}
.icon {
  padding-right: 24px;
  margin: 0;
  display: flex;
  align-items: center;
}
