.hidden {
  display: none;
}
.container {
  .listCard {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    max-width: 100%;
    & > li {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      .cardProfile {
        border: 2px solid #dfe3eb;
        border-radius: 3px;
        padding: 15px;
        .cardBody {
          width: 100%;
          &:hover{
            cursor: pointer;
          }
          .listItem {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              width: 100%;
              display: flex;
              align-items: flex-start;
              .cardItem {
                display: flex;
                font-size: 13px;
                font-weight: 400;
                color: #7d8ea5;
                .itemKeys {
                  display: flex;
                  align-items: flex-start;
                }
              }

              &:first-child {
                p {
                  font-size: 14px;
                  font-weight: 500;
                  color: #12263f;
                }
              }

              &:not(:first-child, :last-child) {
                width: 50%;
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
