.btn(@text, @background, @hoverText, @hoverBackground){
  background-color: @background;
  color: @text;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  &:hover{
    background-color: @hoverBackground;
    cursor: pointer;
    color: @hoverText;
  }
}
.enterCustom {
  border-radius: 5px;
  color: #042B60;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5715;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  
}
.container{
  padding: 0 150px;
  margin: 45px 0 100px 0;
  .header{
    h5{
      text-align: center;
    }
    .note{
      
      padding: 0;
      background-color: #CCE5FF;
      border-radius: 5px;
      border: 1px solid transparent;
      p{
        padding: 10px 20px;
        margin: 0;
        color: #1A5594;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .danger{
      margin: 20px 0 25px 0;
      color: red;
      font-size: 12px;
    }
  }
  .formProfile{
    .listProfile{
      width: 100%;
      height: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      display: flex;
      flex-wrap: wrap;
      li{
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .enter{
          width: 100%;
          label {
            font-weight: 500;
            sup {
              font-size: 16px;
              color: red;
            }
          }
          input{
            &:focus{
              outline: none;
            }
          }
          input,
          select {
            height: 45px;
            .enterCustom();
            &:hover,
            &:focus {
              border-color: #007bff;
            }
          }
        }
      }
    }
  }
  hr.hr{
    border-top: 1px solid #D8D8D8;
    margin: 10px;
  }
  .btnFooter{
    float: right;
    margin: 10px;
    .retype{
      .btn(#3F4F63,white,#1DA1F2,#DFF1FD)
    }
    .submit{
      margin-left: 10px;
      .btn(white,#1EA1F2,white,#017CFF)
    }
    
  }
}
