.calendar {
  width: 100%;

  .header {
    color: #1ca1f2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    // border: 1px solid #dfe3eb;
  }
  .weekContainer,
  .dayContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .weekContainer {
    font-weight: 600;
    .weekCell {
      white-space: nowrap;
      background: #f7f7f7;
      &:first-child {
        color: #fa531f;
      }
      &:last-child {
        color: #faa01f;
      }
    }
  }

  .weekCell,
  .dayCell {
    flex: 0 0 calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    // border: 1px solid #dfe3eb;
    span {
      padding: 10px;
      min-width: 40px;
      text-align: center;
      &:hover {
        background-color: #1da1f2;
        color: #ffffff !important;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
  .dayCell_Faded {
    opacity: 0.4;
  }
  .today {
    span {
      border-radius: 5px;
      background-color: #1da1f2;
      color: #ffffff !important;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
