.cardInfoBooking {
  border: 1px dashed #e9e9e9;
  border-radius: 5px;

  .cardHeader {
    padding: 15px;
    background: #1da1f2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }
  .cardBody {
    padding: 15px;
  }
}
