.unactive{
  background-color: #FEF6E4;
  color: #001858;
}
.active{
  background-color: #3DA9FC !important;
  color: white;
}
.rowInfomation{
  .colFunc{
    width: 100vw;
    .btnAddProfile{
      margin-bottom: 30px;
      a{
        display: flex;
        align-items: center;

        width: fit-content;
        height: 48px;
        padding: 0 24px;

        border-radius: 25px;
        border: 1px solid #27469D;

        color: #27469D;
        font-weight: bolder;

        &:hover{
          background-color: #27469D;
          color: white;
        }
      }
    }
    .btnGroup{
      // @media (max-width: 768px){
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: space-around;
      // }
      .btnItem{
        border-radius: 25px;
        margin: 10px 0;
        &:hover{
          background-color: #90B4CE;
          color: white;
        }
      }
      
      
    }
    
  }
  .colContent{
  }
}