.BannerHome {
  margin-top: 130px;
  margin-bottom: 60px;
  width: 100%;
  overflow: hidden;
  position: relative;
  .backgroundImage {
    height: 720px;
  }
  .contentBannerHome {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    bottom: 30px;
    top: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    .boxService {
      width: 30%;
      float: right;
      padding: 0 15px;
      color: #12263f;
      background-color: hsla(0, 0%, 100%, 0.9);
      .ColTitle {
        h1 {
          text-align: center;
          margin: 30px 0 45px;
          font-size: 20px;
          font-weight: 600;
          color: #12263f;
        }
      }
      .listBoxService {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        li {
          text-align: center;
          background: transparent;
          width: 50%;
          justify-content: center;
          margin: 0 0 8% !important;
          img {
            width: 55px;
            height: 55px;
          }
          p {
            font-weight: 500;
            padding: 0px 20px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .BannerHome {
    .backgroundImage {
      height: 180px;
    }
    .contentBannerHome {
      position: unset;
      .boxService {
        margin: 2.5rem 0;
        width: 100%;
        background-color: #f8fafd !important;
        .listBoxService {
          li {
            width: 100%;
            img {
              display: none;
            }
            a {
              font-weight: 400;
              display: flex;
              text-align: center;
              background-color: #1da1f2;
              color: #fff;
              text-transform: uppercase;
              max-width: 300px;
              margin: 0 auto;
              font-size: 0.81rem;
              height: 42px;
              justify-content: center;
              padding: 12px 15px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .BannerHome {
    .backgroundImage {
      height: 500px;
      background-size: 100% 100% contain !important;
    }
  }
}
@media (min-width: 1024px) {
  .BannerHome {
    .backgroundImage {
      height: 500px;
      background-size: 100% 100% contain !important;
    }
  }
}

@media (min-width: 1440px) {
  .BannerHome {
    .backgroundImage {
      height: 720px;
      background-size: 100% 100% contain !important;
    }
  }
}
