.container{
  padding: 0 24px;
  .listService{
    list-style: none;
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    li{
      display: flex;
      flex-wrap: wrap;
      width: 30%;
      
      padding: 0;
      .cardService{
        width: 100%;
        padding: 12px 24px;
        border: 1px solid #CBD2D9;
        border-radius: 8px;
        text-align: center;
        background-color: #F2FCFF;
        &:hover{
          background-color: #00B5F1;
        }
      }
      
    }
  }
  .RadioGroup{
    display: flex;
    padding-top: 18px;
    p{
      width: fit-content;
      font-size: 16px;
      font-weight: 500;
      padding-right: 40px;
    }
    span{
      font-size: 16px;
      font-weight: 500;
    }
  }
}