// css mixin
.ListCustom {
  list-style-type: none;

  padding: 0;
  margin: 0;
  text-align: left;
}

.dnone {
  display: none !important;
}

.wrapper {
  background-color: white;
  .steps {
    .rowStep {
      .colStep {
        min-height: 120px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        .listStep {
          .ListCustom();
          display: flex;
          min-width: 700px;
          justify-content: space-between;

          li {
            display: flex;
            flex-direction: row;
            min-width: 180px;
            align-items: center;
            align-content: center;
            .btnIcon {
              border: none;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              span {
                fill: white;
                margin: 0;
              }
            }
            hr {
              min-width: 100px;
              margin: 0 20px;
              border-color: whitesmoke;
            }
            &:last-child {
              hr {
                display: none;
              }
            }

            &:first-child {
              .btnIcon {
                background: linear-gradient(
                  143.86deg,
                  #008cff 6.49%,
                  #26b4e8 96.83%
                );
              }
            }
          }
        }
      }
    }
  }
}
.bookingTree {
  .rowBody {
    margin: 30px 0;
    justify-content: space-between;
    .colLeft {
      min-width: 725px;
      padding-right: 15px;
      .listTree {
        width: 100%;
        .ListCustom();
        li {
          margin-bottom: 20px;
          .card {
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            h3 {
              display: flex;
              justify-content: space-between;
            }
            .input {
              background: #f5f7fa;
              border: 0.5px solid #e3e7eb;
              box-sizing: border-box;
              border-radius: 20px;
              padding: 7px 10px;
              display: flex;
              align-items: center;
              align-content: center;
              input {
                padding: 0 10px;
                border: none;
                width: 100%;
                background: none;
                outline: none;
              }
            }
            .content {
              margin: 15px 0;
            }
          }
        }
      }
    }
    .colRight {
      .cardFee {
        padding: 20px 15px;
        background-color: white;
        border-radius: 8px;
        .luuy {
          font-size: 12px;
          color: #00b5f1;
          display: flex;
          align-content: center;
          align-items: center;
        }

        .listFee {
          .ListCustom();
          margin: 15px 0;

          li {
            margin-bottom: 5px;
            font-size: 13px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            &:last-child {
              font-size: 16px;
              font-weight: 500;
              .value {
                color: #ffb340;
              }
            }
          }
        }
        .groupBtn {
          display: flex;
          justify-content: space-around;
          .btn {
            width: 150px;
            display: flex;
            padding: 5px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid #00b5f1;
            box-sizing: border-box;
            border-radius: 20px;
          }
          .again {
            background-color: white;
          }
          .next {
            border: none;
            background-color: #cbd2d9;
          }
        }
      }
    }
  }
}
