.Text(@size, @weight, @color) {
  font-size: @size;
  font-weight: @weight;
  color: @color;
}
.FormContact {
  .btnSupport {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    button {
      background: #1da1f2 !important;
      color: #fff !important;
      align-items: center;
      font-size: 14px;
      border-radius: 3px;
      display: inline-block;
      vertical-align: middle;
      padding: 10px 60px;
      font-weight: 600;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
  }
  .listFormContact {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      margin-bottom: 15px;
      padding: 0 15px;
      .title {
        .Text(13px, 600, none);
        sup {
          padding-left: 5px;
          color: red;
        }
        margin-bottom: 1rem;
      }
      .input {
        border-radius: 3px;
        padding: 0 10px;
        height: 43.33px;
        &:hover {
          border-color: #bfbfbf;
        }
        &:focus {
          background-color: #fff;
          border-color: #0352cc;
          outline: 0;
          box-shadow: none;
          color: #032a5f;
        }
      }
      .select {
        > div {
          border-radius: 3px;
          align-content: center;
          align-items: center;
          height: 43.33px;
        }
      }
      &:last-child {
        width: 100%;
        .input {
          height: unset;
        }
      }
    }
  }
}
