.container {
  background-image: url('/images/bannerHomeMobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  .rowBanner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    .colAccount {
      background-image: url('/images/BannerPattern.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 50%;

      display: flex;
      align-items: center;
    }
    .colLogo {
      width: 50%;
      height: 50%;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
