// mixin css ------------------------------------------

.text(@fontsize, @weight) {
  font-size: @fontsize;
  font-weight: @weight;
  text-align: justify;
}

.customLine( @line) {
  // text-align: justify;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  // display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}

.CustomCardBody (@descNone) {
  .title {
    color: #002e64;
    font-size: 0.875rem;
    font-weight: 400;
    .customLine(2);
    margin-bottom: 5px;
    text-transform: lowercase;

    &:hover {
      color: #3699ff;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }
  .author {
    font-weight: 500;
    font-size: 0.75rem;
    color: #777;
    margin-bottom: 5px;
  }
  .time {
    font-size: 0.75rem;
    color: #777;
    margin-bottom: 5px;
  }
  .description {
    font-size: 0.813rem;
    margin: 0;
    .customLine(4);
    display: @descNone;
  }
}

.hover() {
  color: #0056b3;
  cursor: pointer;
}

.cardNews-768px {
  padding: 7.5px;
  .cardBody {
    .title {
      font-size: 0.75rem;
    }
    .time {
      font-size: 0.688rem;
    }
  }
}

.cardNews-426px {
  width: 100%;
  display: flex;
  flex-direction: revert;
  justify-content: stretch;
  padding: 7.5px 0;
  .cardView {
    width: 40%;
    margin: 0;
    div {
      height: 100%;
    }
  }
  .cardBody {
    width: 60%;
    padding-left: 10px;
  }
}
// css ContainerNews -------------------------------------------
.ContainerNews {
  background-color: white;

  .rowContentPost {
    margin: 15px -15px;
    .colLeftPost {
      padding: 0 15px;
      .listPost {
        list-style: none;
        padding: 0;
        margin: 0;
        .title {
          .text(20px, 600);
        }
        .time {
          display: flex;
          span {
            .text(12px, 400);
            font-style: italic;
          }
        }
        .description {
          background-color: #1da1f2;
          padding-left: 8px;
          p {
            .text(13px,400);
            background-color: #e8f4ff;
            padding: 30px;
          }
        }
        .content {
          p {
            .text(14px, 400);
          }
          .divContent {
            figure {
              width: 100% !important;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 35px;
            }
          }
        }
      }
    }

    .colRightPost {
      padding: 0 15px;
      h2 {
        .text(20px, 600);
        text-align: center;
        margin-bottom: 15px;
      }
      .listCategory {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        .cardNews {
          width: 100%;
          display: flex;
          flex-direction: revert;
          justify-content: stretch;
          padding: 7.5px 0;
          .cardView {
            width: 40%;
            margin: 0;
            div {
              height: 100%;
            }
          }
          .cardBody {
            width: 60%;
            padding-left: 10px;
            .CustomCardBody(none);
          }
        }
      }
      .btnViewNews {
        .text(13px,400);
        margin-top: 10px;
        text-align: center;
        em {
          border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .rowFooterPost {
    margin: 15px 0;
    .colBottomPost {
      h2 {
        .text(20px, 600);
        padding: 0 7.5px;
        margin-bottom: 15px;
      }
      .listPostNew {
        padding: 0;
        // margin: 0 -15px;
        list-style: none;
        display: flex;
        @media (max-width: 426px) {
          flex-direction: column;
        }
        .cardNews {
          width: (100%/3);
          padding: 0 15px;
          display: flex;
          justify-content: stretch;
          flex-direction: column;

          .cardView {
            div {
              height: 100%;
            }
          }
          .cardBody {
            .CustomCardBody(none);
          }
        }
      }
    }
  }
}

// css reponsive ContainerNews -------------------------------------------

@media (max-width: 768px) {
  .ContainerNews {
    .rowContentPost {
      .colRightPost {
        padding: 15px 0;

        .listCategory {
          .cardNews {
            width: 50%;
            .cardNews-768px();
          }
        }
      }
    }
    .rowFooterPost {
      .colBottomPost {
        padding: 15px 0;
        h2 {
          text-align: center;
        }
        .listPostNew {
          .cardNews {
            .cardNews-768px();
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .ContainerNews {
    .rowContentPost {
      margin: 0;
      .colLeftPost {
        padding: 0;
        .listPost {
          .content {
            .divContent {
              figure {
                padding: 10px;
              }
            }
          }
        }
      }
      .colRightPost {
        // padding: 0;
        .listCategory {
          .cardNews {
            .cardNews-426px();
          }
        }
      }
    }
    .rowFooterPost {
      .colBottomPost {
        .listPostNew {
          .cardNews {
            .cardNews-426px();
          }
        }
      }
    }
  }
}
