.text(@size, @weight) {
  font-size: @size;
  font-weight: @weight;
}

.ChonChuyenKhoa {
  padding: 0;
  .Search {
    max-height: 40px;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    input {
      font-size: 13px;
      padding-left: 7px;
    }
  }
  .listChuyenKhoa {
    margin: 15px 0 30px 0;
    padding: 0;

    li {
      list-style-type: none;

      border-bottom: 1px solid #dfe3eb;
      padding: 18px 0 0 0;
      & :hover {
        cursor: pointer;
        color: #1da1f2;
      }
      p {
        .text(15px, 400);
      }
    }
  }
}
