@font-face {
  font-family: 'Averta';
  src: local(Averta Regular), url('#{$averta-font-patch}Averta-Regular.eot');
  src: url('#{$averta-font-patch}Averta-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('#{$averta-font-patch}Averta-Regular.woff') format('woff'),
    url('#{$averta-font-patch}Averta-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Averta';
  src: url('#{$averta-font-patch}Averta-Semibold.eot');
  src: url('#{$averta-font-patch}Averta-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('#{$averta-font-patch}Averta-Semibold.woff') format('woff'),
    url('#{$averta-font-patch}Averta-Semibold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Averta';
  src: url('#{$averta-font-patch}Averta-Bold.eot');
  src: url('#{$averta-font-patch}Averta-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('#{$averta-font-patch}Averta-Bold.woff') format('woff'),
    url('#{$averta-font-patch}Averta-Bold.ttf') format('truetype');
  font-weight: 700;
}
